@import "./variaveis";
@import "./responsive";

.contato {
  &__title {
    text-align: center;
    font-size: 60px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 80px;
    @include responsive(t) {
        font-size: 32px;
    }
  }
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include responsive(t) {
        flex-direction: column;
        justify-content: center;
    }
    .contato-text {
      a {
        font-family: $fonte-2;
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        color: #000000;

        span {
          font-size: 32px;
          margin-left: 20px;
          @include responsive(t) {
            font-size: 18px;
        }
        }
        .icon {
          width: 35px;
        }
      }
    }

    .contato-imagem {
      width: 60%;
      @include responsive(t) {
        margin-top: 60px;

     }
    }
  }
}
