@import "./variaveis";

.contato {
    &__title {
        text-align: center;
        font-size: 60px;
        font-weight: normal;
        text-align: center;
        margin-bottom: 80px;
    }
    &-content {
       display: flex;
       justify-content: space-between;
       align-items: center;
       .contato-text {
        a {
             font-family: $fonte-2;
             text-decoration: none;
             display: flex;
             align-items: center;
             margin-bottom: 20px;
             color: #000000;

             span {
                 font-size: 32px;
                 margin-left: 20px;
             }
             img {
                 width: 35px;
             }
         }
       }

       img {
           width: 50%;
       }
    }
}