@import "./variaveis";

header {
    position: absolute;
    padding: 20px;
    z-index: 10;
    .header-content {
        display: flex;
        justify-content: flex-end;
        .menu ul {
            display: flex;
            list-style: none;
            li a {
                text-decoration: none;
                color: white;
                padding: 16px;
                font-family: $fonte-1;
                cursor: pointer;
                z-index: 20;
            }
        }
    }
}