* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
@import './variaveis';
@import './header';
@import './main';
@import './sobre';
@import './conhecimentos';
@import './projetos';
@import './contato';
@import './responsive';

h1,h2,h3,h4,h5 {
    font-family: $fonte-1;
}

body {
    @include responsive(m) {
        overflow-x: hidden;
    }
}
.container {
    width: 1200px;
    margin: 0 auto;
    @include responsive(d1) {
        width: 100%;
    }
}